<div class="container">
  <% if notice.present? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <h1>My blogs</h1>
  <h3>My first rails application for CoderSchool</h3>
  <div>
    <form action="" class="form-inline mb-3">
      <input class="form-control mr-3" type="text" name='q' class="search" value="<%= @params.key?(:q) ? @params[:q] : '' %>">
      <button class="btn btn-default" type="submit">Search</button>
    </form>
  </div>

  <%= render @articles %>
  
  <br>
  
  <%= link_to 'New Article', new_article_path %>
</div>
